.promotions {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;

	padding: 20px;
}

.promotion_card {
	overflow: hidden;

	text-align: center;

	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.promotion_card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.promotion_card button {
	margin-bottom: 20px;
}

@media (width <= 768px) {
	.promotions {
		grid-template-columns: 1fr;
	}
}