.page_wrapper {
	display: flex;

	height: 60vh;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 400px;
	margin: auto;

	text-align: center;
	gap: 20px;
}

@media (width <=768px) {
	.container {
		width: 100%;
	}
}