.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 400px;
	margin: auto;

	text-align: center;
}

@media (width <= 768px) {
	.container {
		width: 100%;
	}
}