.container {
	width: 400px;
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

@media (max-width: 600px) {
	.container {
		width: 350px;
	}
}