
.slider_interval {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calculator {
	width: 100%;
	margin: 0 auto;
}

.ml {
	margin-left: 20px;
}

.radiogroup {
	margin-bottom: 20px;
}

.radioflex {
	display: flex;
}

.mb_0 {
	margin-bottom: 0;
}

.b {
	font-weight: bold;
}

.form {
	width: 100%;
}

.mb_1 {
	margin-bottom: 20px;
}

.center {
	margin: auto;
}