.main_content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.title {
	display: flex;
	flex-direction: column;
}

.price {
	padding: 5px 10px;

	color: white !important;
	border-radius: 15px;
	background-color: chocolate;
}

.some_desc {
	height: 17vh;
}

@media (max-width: 768px) {
	.main_content {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}