.main_content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: column;
}

.price {
	padding: 5px 10px;

	color: white !important;
	border-radius: 15px;
	background-color: var(--accent-color);
}

.some_desc {
	height: 12vh;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (width <= 768px) {
	.main_content {
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.some_desc {
		height: auto;
	}
}