.reviews {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.reviewbox {
	transition: all ease-in-out 300ms;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
	cursor: pointer;
}

.review {
	display: flex;
	align-items: center;

	padding: 2% 5%;
	gap: 20px;
}

.review img {
	border-radius: 50%;
}

.reviewbox:hover {
	box-shadow: 6px 8px 8px rgb(0 0 0 / 30%);
}