.reviews {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.reviewbox {
	border-radius: 15px;
	background-color: rgb(141 141 141 / 34.2%);
	box-shadow: 15px 15px 10px -5px rgb(34 60 80 / 20%);
}

.review {
	display: flex;
	align-items: center;

	padding: 2% 5%;
	gap: 20px;
}

.review img {
	border-radius: 50%;
}