.wrapper {
  padding: 0 15%;
}

.banner1_1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

.banner1 {
  background: linear-gradient(to top left, #392108, #583612);

  font-family: 'Brygada 1918', serif;
}

.title {
  width: 350px;

  color: #fff;

  font-family: 'Brygada 1918', serif;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  line-height: 50px;
}

.zerno {
  position: relative;
  bottom: 180px;
  left: 20px;
}

.zerno img {
  width: 494px;
  height: 413px;
}

.unit {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: -15%;
}

.unit__section {
  width: 600px;
}

.unit__section__img {
  width: 494px;
}

#unit_2 {
  margin-top: 15%;
}

.guests {
  margin: 20px 0;
}

.guests__header {
  margin: auto;

  text-align: center;

  font-family: 'Brygada 1918', serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}