.wrapper {
  padding: 0 15%;
}

.title {
  width: 350px;

  color: #fff;

  font-family: 'Brygada 1918', serif;
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  line-height: 50px;
}

.page_wrapper ul li{
  margin-bottom: 10px;
  margin-left: 20px;
}

.page_wrapper ol li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.page_wrapper h1 {
  margin-bottom: 10px;
}

.page_wrapper .list {
  margin-top: 10px;
}