@font-face {
  font-family: 'Brygada 1918';
  src: url("../../app/Brygada1918.ttf");
}

.header {
  margin-bottom: 20px;
}

.menu {
  padding: 10px 15%;

  background-color: #462b0e;
}

.nav a {
  text-decoration: none;

  color: white;
}

.logo {
  text-decoration: none;

  color: #333;
  color: white;

  font-family: 'Brygada 1918', serif;
  font-size: 24px;
  font-weight: bold;
}

.mobile_menu {
  position: relative;
}

.burger {
  z-index: 10;

  display: none;
  flex-direction: column;

  cursor: pointer;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  margin: 3px 0;
  background-color: white;
  transition: all 300ms ease-in-out;
}

.burger.open div:nth-child(1) {
  display: none;
}

.burger.open div:nth-child(2) {
  transform: rotate(45deg);
  position: relative;
  top: 4px;
}

.burger.open div:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -4px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.li {
  margin: 0 30px;
}

.mobile_menu_cont {
  display: none;
}

@media (width <=768px) {
  .menu {
    display: none;
  }

  .mobile_menu_cont {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    height: 40px;

    background-color: #462b0e;
  }

  .mobile_menu_cont .logo {
    font-family: 'Brygada 1918', serif;
  }

  .mobile_menu_cont a {
    text-decoration: none;

    color: white !important;
  }

  .mobile_nav {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 5;

    height: calc(100vh - 40px);
    width: 100vw;

    display: none;

    list-style-type: none;

    background: rgba(70, 43, 14, 0.6);
  }

  .mobile_li {
    font-size: 50px;
    text-decoration: none;
  }

  .mobile_nav a {
    text-decoration: none;

    color: #333;
  }

  .mobile_nav.open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .burger {
    display: flex;
  }

  .mobile_li {
    margin: 10px 0;
  }
}