.logo {
  color: white !important;

  font-family: 'Brygada 1918', serif;
  font-size: 50px !important;
  font-weight: 400;
  font-style: italic !important;
}

.footerLogo {
  margin-top: 20px;
}

.footer_cont {
  margin-top: 20px;
}

.footer {
  padding: 10px 15%;

  background-color: #462b0e;
}

.footer__img {
  background-image: url("/img/bg.png");
}

.footer_menu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 10px;
}

.menu_header {
  color: white !important;
}

.li {
  margin-top: 10px;
  padding: 0;

  list-style-type: none;
}

.link {
  transition: all 300ms;
  text-decoration: none;

  color: #814e17;
}

.link:hover {
  color: #cc7a22;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 10px;

  color: white;
  border-top: 1px solid white;
}

.copy_link {
  text-decoration: none;

  color: white;
}

.sale {
  background-color: #392108;
}

.sale__unit {
  display: flex;
  align-items: center;
  flex-wrap: wrap !important;
  justify-content: space-between;

  margin: auto;
  padding: 20px 15%;

  color: white;
}

.sale__unit>* {
  width: 350px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  padding: 2%;

  text-align: center;

  border-radius: 10px;

  font-size: 24px;
}

@media (width <= 768px) {
  .form {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo {
    text-align: center;
  }

  .footer_menu {
    align-items: center;
  }

  .menu {
    margin-bottom: 20px;

    text-align: center;
  }

  .sale__unit .btn {
    margin: auto;
  }

  .footer_menu {
    flex-direction: column;
  }

  .copyright {
    align-items: center;
    flex-direction: column;

    text-align: center;
  }
}