.imagePlaceholder {
	width: 100%;
	height: 200px;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;
}

.imagePlaceholder::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 0.7) 50%,
			rgba(255, 255, 255, 0) 100%);
	transform: translateX(-100%);
	animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

.cardContainer {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 300px;
	height: 400px;
	margin-top: 20px;
	padding: 20px;

	cursor: pointer;
	transition: all 300ms;

	border: 1px solid #ddd;
	border-radius: 10px;

	background-color: #fff;
	box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
	cursor: not-allowed;
}

.image {
	width: 170px;
	height: 170px;
	margin: auto;
}

.title {
	height: 40px !important;
}

.description {
	height: 70px;
}

.price {
	padding: 5px 10px;

	color: white !important;
	border-radius: 15px;
	background-color: chocolate;
}

.skeleton {
	position: relative;
	width: 100%;
	height: 20px;
	background-color: #e0e0e0;
	overflow: hidden;
	margin: 10px 0;
}

.skeleton::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
	animation: loading 1.5s infinite;
}

@keyframes loading {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

@media (max-width: 600px) {
	.cardContainer {
		justify-content: space-around;
	}
}