.imagePlaceholder {
	width: 100%;
	height: 200px;
	background-color: #f0f0f0;
}

.cardContainer {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 300px;
	height: 400px;
	margin-top: 20px;
	padding: 20px;

	cursor: pointer;
	transition: all 300ms;

	border: 1px solid #ddd;
	border-radius: 10px;

	background-color: #fff;
	box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
	cursor: not-allowed;
}

.image {
	width: 170px;
	height: 170px;
	margin: auto;
}

.title {
	height: 40px !important;
}

.description {
	height: 70px;
}

.price {
	padding: 5px 10px;

	color: white !important;
	border-radius: 15px;
	background-color: chocolate;
}