.slider {
	position: relative;

	overflow: hidden;

	width: 100%;
	height: 200px;
	margin: auto;
	margin: 20px 0;

	border-radius: 10px;
}

.sliderWrapper {
	display: flex;

	height: 100%;

	transition: transform 0.5s ease-in-out;
}

.slide {
	position: relative;

	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;

	box-sizing: border-box;
	min-width: 100%;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.arrowLeft,
.arrowRight {
	position: absolute;
	z-index: 10;
	top: 50%;

	display: flex;
	align-items: flex-start;
	justify-content: center;

	padding: 5px;

	cursor: pointer;
	transition: all 300ms;
	transform: translateY(-50%);

	opacity: 0;
	color: black;
	border-radius: 50%;
	background-color: rgb(255 255 255);
}

.arrowLeft span,
.arrowRight span {
	width: 18px;
	height: 18px;
}

.slider:hover .arrowRight,
.slider:hover .arrowLeft,
.slider:hover .indicator {
	opacity: 1;
}

.arrowLeft {
	left: 15px;
}

.arrowRight {
	right: 15px;
}

.indicator {
	position: absolute;
	bottom: 20px;
	left: 50%;

	padding: 5px 10px;

	transition: all 300ms;
	transform: translateX(-50%);

	opacity: 0;
	color: black;
	border-radius: 5px;
	background-color: rgb(255 255 255);

	font-size: 14px;
}